<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expiry Date</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://unpkg.com/quagga/dist/quagga.min.js"></script>
  </head>

  <body>
    <header class="header-class" id="header">
      <div id="headwrapper" class="headwrapper-class">
        <h1 id="logo">Expiry Date</h1>
        <div id="search-container">
          <!-- WICHTIG!!! Um den Barcode zu scannen muss noch mit der Datenbank verbinden von Barcodes -->
          <i class="fa-solid fa-barcode" onclick="cameraShow()" id="barcode-button"></i>

          <div id="sort-dropdown">
            <i class="fa-solid fa-sort fa-xl" onclick="showSort()" id="sort-button"></i>

            <div id="sort-dropdown-content" class="sort-dropdown-content-class">
              <p><b>Sort by</b></p>
              <div id="sort-div">
                <div id="column-arrow">
                  <a class="fa-solid fa-sort-up" href="/sortproductup"></a>
                  <a class="fa-solid fa-sort-down" href="/sortproductdown"></a>
                </div>
                <label>Product</label>
              </div>
              <div id="sort-div">
                <div id="column-arrow">
                  <a class="fa-solid fa-sort-up" href="/sortquantitytup"></a>
                  <a class="fa-solid fa-sort-down" href="/sortquantitydown"></a>
                </div>
                <label>Quantity</label>
              </div>
              <div id="sort-div">
                <div id="column-arrow">
                  <a class="fa-solid fa-sort-up" href="/sortdateup"></a>
                  <a class="fa-solid fa-sort-down" href="/sortdatedown"></a>
                </div>
                <label>Date</label>
              </div>
            </div>
          </div>
          <input id="search-input" type="text" placeholder="Search product" name="search" />
          <div id="search-logo"><i class="fa-solid fa-magnifying-glass"></i></div>
          <a id="log-out" href="/logout">Logout</a>
        </div>
      </div>
      <!--
       <div id="title-beschriftung">
        <div id="beschriftung-div1">
          <h4>Photo</h4>
          <h4>Name</h4>
        </div>
        <div id="beschriftung-div2">
          <h4>Quantity</h4>
          <h4 id="ed4">Expiry-Date</h4>
        </div>
      </div>
      -->
    </header>
    <main>
      <div id="grid-template">
        <% dataList.forEach((element) => { %>
        <form id="row-wrapper">
          <i class="fa-solid fa-camera fa-2xl" onclick="openStream(this)" id="capture"></i>

          <canvas id="canvas"></canvas>

          <input
            id="product-name"
            name="name"
            type="text"
            placeholder="Name"
            value="<%=element.p_name%>"
            maxlength="30"
          />

          <input
            id="product-quantity"
            name="quantity"
            type="text"
            placeholder="Quantity"
            value="<%=element.p_quantity%>"
          />

          <select name="measure" id="product-measure">
            <% if (element.p_measure === 0 ) {%>
            <option value="0" selected>liter</option>
            <% } else {%>
            <option value="0">liter</option>
            <% } %> <% if (element.p_measure === 1 ) {%>
            <option value="1" selected>kilogram</option>
            <% } else {%>
            <option value="1">kilogram</option>
            <% } %> <% if (element.p_measure === 2 ) {%>
            <option value="2" selected>piece</option>
            <% } else {%>
            <option value="2">piece</option>
            <% } %>
          </select>

          <input
            id="product-expirydate"
            name="expirydate"
            type="date"
            placeholder="Expiry-Date"
            value="<%=element.p_expirydate%>"
          />
          <button id="delete-self-row" onclick="deleteSelfRow(this)" type="button">
            <i class="fa-solid fa-minus"></i>
          </button>
        </form>
        <% }) %>
      </div>

      <footer class="footer-class" id="footer">
        <div id="new-row-div">
          <button id="new-row" onclick="newRow()"><i class="fa-solid fa-plus"></i></button>
          <button id="delete-row" onclick="deleteRow()"><i class="fa-solid fa-minus"></i></button>
          <button id="save-button" onclick="saveList()">Save</button>
        </div>
        <p id="save-success">Save successful!</p>
      </footer>

      <div id="camera"></div>
      <video id="video" width="400" height="400" autoplay></video>
      <div id="take-photo">
        <div id="take-photo-button" onclick="takePhoto()">
          <i class="fa-solid fa-image fa-xl"></i>
          <p>Take photo</p>
        </div>
        <div id="close-photo-button" onclick="closePhoto()">
          <i class="fa-solid fa-xmark fa-xl"></i>
          <p>Close</p>
        </div>
        <div id="save-photo-button" onclick="savePhoto()">
          <i class="fa-solid fa-download fa-xl"></i>
          <p>Save</p>
        </div>
      </div>

      <div id="ausgabe-differenz">
        <% const date1 = new Date(date); %> <% dataList.sort((a, b) => { if (a.p_expirydate < b.p_expirydate) return -1;
        if (a.p_expirydate > b.p_expirydate) return 1; return 0; }); console.log(dataList); %> <%
        dataList.forEach((element) => { %> <% let date2 = new Date(element.p_expirydate) %> <% let day =
        Math.round((date2.getTime() - date1.getTime()) / 86400000) %> <% if (day <= 7 && day >= 0) { %>
        <p>
          The product <span><%= element.p_name %></span> will reach the minimum expiration date in
          <span><%= day %> </span> days.
        </p>
        <% } %> <% if (day < 0) { %>
        <p>
          The product <span><%= element.p_name %></span> exceeded the minimum expiration date since
          <span><%= Math.abs(day) %> </span> days.
        </p>
        <% } %> <% }) %>
        <div id="close-ausgabe-differenz" onclick="closeAusgabe()">
          <i class="fa-solid fa-xmark fa-xl"></i>
          <p>Close</p>
        </div>
      </div>

      <ul id="box-area">
        <img src="img/apple.png" alt="" />
        <img src="img/beer.png" alt="" />
        <img src="img/carrot.png" alt="" />
        <img src="img/cheese.png" alt="" />
        <img src="img/croissant.png" alt="" />
        <img src="img/drumstick.png" alt="" />
        <img src="img/fish.png" alt="" />
        <img src="img/hamburger.png" alt="" />
        <img src="img/pepper.png" alt="" />
        <img src="img/sausage.png" alt="" />
        <img src="img/steak.png" alt="" />
      </ul>
    </main>
  </body>

  <script language="javascript" type="text/javascript" src="/javascript/codelist.js"></script>
  <script src="/javascript/scanner.js"></script>
  <script src="/javascript/takephoto.js"></script>
</html>
